<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwj.common.module.sys.mapper.SysAdminRoleRelationMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin_id, role_id,create_time,create_user,update_time,update_user
    </sql>

    <select id="getSysAdminRoleRelationById" resultType="com.wwj.common.module.sys.VO.query.SysAdminRoleRelationQueryVO">
        select
        <include refid="Base_Column_List"/>
        from sys_admin_role_relation where id = #{id}
    </select>

    <select id="getSysAdminRoleRelationPageList" parameterType="com.wwj.common.module.sys.param.SysAdminRoleRelationPageParam" resultType="com.wwj.common.module.sys.VO.query.SysAdminRoleRelationQueryVO">
        select
        <include refid="Base_Column_List"/>
        from sys_admin_role_relation
    </select>

</mapper>
